<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FuckTheFake.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2C86958B1BA29F6B006D8240</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C86959C1BA29F6B006D8240</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C8695A71BA29F6B006D8240</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
